@{
    ViewBag.Title = "Validate";
}

<div class="rv-app">
    <div class="rv-app-fullwidth" ng-controller="ValidationController as validation">
        @* Top JavaScript alert *@
        <noscript>
            <div data-alert class="alert-box alert">
                JavaScript is requried to use Raven.
            </div>
        </noscript>

        @* HTML Input *@
        <div ng-cloak ng-show="validation.isTabSet(0)">
            <h2>Validate HTML</h2>
            
            <form ng-submit="validation.submit()">
                <textarea ng-model="validation.submission.Html"
                          rows="16" placeholder="Enter your HTML code..."
                          class="rv-codeinput"></textarea>

                <dl class="accordion" data-accordion>
                    <dd class="accordion-navigation">
                        <a href="#settings" class="text-center">Advanced Settings</a>
                        <div id="settings" class="content">
                            <div class="row">
                                @* === Checks === *@
                                <section ng-controller="CheckController as checkCtrl" rv-validation="validation"
                                         class="small-12 medium-6 column">
                                    <header>
                                        <h3>Checks to Run</h3>
                                    </header>

                                    @* Add Check *@
                                    <label>Add a check by url</label>
                                    <section class="row collapse">
                                        <div class="small-10 column">
                                            <input ng-model="checkCtrl.submission"
                                                   ng-keypress="checkCtrl.keypress($event)"
                                                   type="text" placeholder="Enter check URL..." />
                                        </div>
                                        <div class="small-2 column">
                                            <button ng-click="checkCtrl.add()"
                                                    type="button" class="button postfix">
                                                Add
                                            </button>
                                        </div>
                                    </section>

                                    @* Check List *@
                                    <ul>
                                        <li ng-repeat="check in validation.submission.Checks">
                                            {{check.Url}}
                                            <a ng-hide="check.Locked" ng-click="checkCtrl.remove(check)" class="right">remove</a>
                                        </li>
                                    </ul>
                                </section>
                                
                                @* === Sets === *@
                                <section ng-controller="SetController as setCtrl" rv-validation="validation"
                                         class="small-12 medium-6 column">
                                    <header>
                                        <h3>Sets to Run</h3>
                                    </header>

                                    @* Add Set by Code *@
                                    <section>
                                        <label>Add an existing set</label>
                                        <div class="row collapse">
                                            <div class="small-10 column">
                                                <input ng-model="setCtrl.addCode"
                                                       ng-keypress="setCtrl.addKeypress($event)"
                                                       type="text" placeholder="Enter set code..." />
                                            </div>
                                            <div class="small-2 column">
                                                <button ng-click="setCtrl.add()"
                                                        type="button" class="button postfix">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </section>

                                    @* Create Set from Check List *@
                                    <section>
                                        <label>Create a new set from selected checks</label>
                                        <div class="row collapse">
                                            <div class="small-10 column">
                                                <input ng-model="setCtrl.createName"
                                                       ng-keypress="setCtrl.createKeypress($event)"
                                                       type="text" placeholder="Enter set name..." />
                                            </div>
                                            <div class="small-2 column">
                                                <button ng-click="setCtrl.create()"
                                                        type="button" class="button postfix">
                                                    Create
                                                </button>
                                            </div>
                                        </div>
                                    </section>

                                    @* Set List *@
                                    <ul>
                                        <li ng-repeat="set in validation.submission.Sets">
                                            <a ng-href="~/validate/set/{{set.Code}}">
                                                {{set.Name}}
                                            </a>
                                            <a ng-hide="set.Locked" ng-click="setCtrl.remove(set)" class="right">remove</a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </dd>
                </dl>
                <div><br /></div>

                <button ng-disabled="!validation.isSubmitable()"
                        type="submit" class="button expand">
                    Validate
                </button>
            </form>
        </div>
        
        @* Validating Progress Bar *@
        <div ng-cloak ng-show="validation.isTabSet(1)" class="text-center">
            <h2>Validating...</h2>
            <img src="~/Content/progress.gif" alt="Insert very clever pun involving poems and loading bars here." />
        </div>

        @* Validation Output *@
        <div ng-cloak ng-show="validation.isTabSet(2)">
            <h2>Validation Errors</h2>
            <table>
                <thead>
                    <tr>
                        <th width="20">Ln</th>
                        <th width="20">Col</th>
                        <th>Category</th>
                        <th>Error Message</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="error in validation.errors">
                        <td><span ng-show="error.Line > 0">{{error.Line}}</span></td>
                        <td><span ng-show="error.Line > 0">{{error.Column}}</span></td>
                        <td>{{validation.categories[error.Category]}}</td>
                        <td>{{error.Message}}</td>
                        <td>{{error.Url}}</td>
                    </tr>
                </tbody>
            </table>

            <a class="button expand" ng-click="validation.setTab(0)">Go Back</a>
        </div>
    </div>
</div>