@{
    ViewBag.Title = "Validate";
}

<div class="raven-content">
    <div class="raven-main" ng-controller="ValidationController as validation">
        @* Top JavaScript alert *@
        <noscript>
            <div data-alert class="alert-box alert ">
                You do not have JavaScript enabled. Enable JavaScript for enhanced functionality.
            </div>
        </noscript>

        @* HTML Input *@
        <div ng-show="validation.isTabSet(0)">
            <h2>Validate HTML</h2>
            
            @using (Html.BeginForm("Index", "Validate", FormMethod.Post, new
            {
                @class = "raven-nojs-submit",
                @ng_submit = "validation.submit()"
            }))
            {
                @Html.TextArea("raven-validation-codeinput", new
                {
                    @rows = 16,
                    @placeholder = "<!DOCTYPE html><html></html>",
                    @style = "resize: vertical;",
                    @ng_model = "validation.submission.Html"
                })

                <dl ng-cloak class="raven-advanced accordion" data-accordion>
                    <dd class="accordion-navigation">
                        <a href="#settings" class="text-center">Advanced Settings</a>
                        <div id="settings" class="content">
                            @* Check Sets *@
                            <div class="raven-column">
                                <h3>Check Sets</h3>
                                <ul>
                                    <li ng-repeat="set in validation.submission.CheckSets">
                                        {{set.Name}}
                                        <a class="right" ng-click="validation.removeCheck(check)">remove</a>
                                    </li>
                                </ul>
                                <div class="row collapse">
                                    <div class="large-10 column">
                                        <input type="text" placeholder="Enter check set code..."
                                               ng-model="validation.setSubmission"
                                               ng-keypress="validation.setKeypress($event)" />
                                    </div>
                                    <div class="large-2 column">
                                        <button type="button" class="button postfix" ng-click="validation.addSet()">Add</button>
                                    </div>
                                </div>
                            </div>
                            @* Custom Check URLs *@
                            <div class="raven-column">
                                <h3>Custom Checks</h3>
                                <ul>
                                    <li ng-repeat="check in validation.submission.CheckUrls">
                                        {{check}}
                                        <a class="right" ng-click="validation.removeCheck(check)">remove</a>
                                    </li>
                                </ul>
                                <div class="row collapse" ng-controller="AddCheckController as addCheck" rv-validation="validation">
                                    <div class="large-10 column">
                                        <input type="text" placeholder="Enter your URL..."
                                               ng-model="addCheck.submission"
                                               ng-keypress="addCheck.keypress($event)" />
                                    </div>
                                    <div class="large-2 column">
                                        <button type="button" class="button postfix" ng-click="addCheck.add()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                <div><br /></div>

                <button type="submit" class="button expand">Validate</button>
            }
        </div>
        
        @* Validating Progress Bar *@
        <div ng-cloak ng-show="validation.isTabSet(1)" class="text-center">
            <h2>Validating...</h2>
            <img src="~/Content/progress.gif" alt="Insert very clever pun involving poems and loading bars here." />
        </div>

        @* Validation Output *@
        <div ng-cloak ng-show="validation.isTabSet(2)">
            <h2>Validation Errors</h2>

            <table>
                <thead>
                    <tr>
                        <th width="20">Ln</th>
                        <th width="20">Col</th>
                        <th>Category</th>
                        <th>Error Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="error in validation.errors">
                        <td><span ng-show="error.Line > 0">{{error.Line}}</span></td>
                        <td><span ng-show="error.Line > 0">{{error.column}}</span></td>
                        <td>{{validation.categories[error.Category]}}</td>
                        <td>{{error.Message}}</td>
                    </tr>
                </tbody>
            </table>

            <a class="button expand" ng-click="validation.setTab(0)">Go Back</a>
        </div>
    </div>
</div>