@model Lisa.Raven.CheckSet
@{
    ViewBag.Title = "Validate";
}

<div class="rv-app">
    <div class="rv-app-fullwidth">
        <h2>@Model.Name</h2>
        <p>Code: @Model.Code</p>
        <ul>
            @foreach (var check in Model.Checks)
            {
                <li>@check.Url</li>
            }
        </ul>
    </div>
</div>