@import "normalize";
@import "foundation";
@import "foundation.mvc";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.rv-app {
    $app-height: 500px;

	@include grid-row();
    //height: $app-height;
    //overflow-y: scroll;

    // Don't vertical center if the window isn't large enough
    @media screen and (min-height: $app-height) {
        //@include vertical-align();
    }

    .rv-app-fullwidth {
		@include grid-column(12);
    }

	.rv-app-column {
		@include grid-column(6);
	}
}

.rv-codeinput {
    resize: vertical;
}