@{
    ViewBag.Title = "Validate";
}

<div ng-cloak>
    <p>{{"There is no" + " spoon."}}</p>
    <div ng-controller="ValidationController as raven">
        <ul>
            <li ng-repeat="error in raven.errors">
                <p>{{error.Message}}</p>
                <p>Ln {{error.Line}}, Col {{error.Column}}</p>
            </li>
        </ul>
    </div>
</div>
<noscript>
    <h3>Raven requires JavaScript to be enabled.</h3>
</noscript>