@{
    ViewBag.Title = "Validate";
}

<div class="raven-content">
    @* Left side main content *@
    <div class="raven-main" ng-cloak ng-controller="ValidationController as validation">
        @* Top JavaScript alert *@
        <noscript>
            <div data-alert class="alert-box alert ">
                You do not have JavaScript enabled. Enable JavaScript for enhanced functionality.
            </div>
        </noscript>
        
        <div id="validationInputPage">
            <h2>Validate HTML</h2>
            @Html.TextArea("raven-validation-codeinput", new { @rows = 10, @placeholder = "<!DOCTYPE html><html></html>", @style = "resize:vertical;" })

            <a id="validationInputButton" class="button expand">Validate</a>
        </div>

        <div id="validationErrorsPage" style="display: none;">
            <h2>Validation Errors</h2>
            <table>
                <thead>
                    <tr>
                        <th width="20">Ln</th>
                        <th width="20">Col</th>
                        <th>Error Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="error in validation.errors">
                        <td>{{error.Line}}</td>
                        <td>{{error.Column}}</td>
                        <td>{{error.Message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @* Right side help information *@
    <div ng-cloak class="raven-sidebar">
        <div class="panel">
            <p>Need help getting started using Raven? Try our step-by-step <strong>interactive guide</strong>!</p>
            <a href="#" class="button tiny">Start the Guide &raquo;</a>
        </div>
        <div>
            <h3>Upload File</h3>
            <p>You can also upload a file to validate. Drag a file to your browser window to upload it.</p>
        </div>
    </div>
</div>